/* css for ShowProduct.js*/
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.index-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-product-mui-talbe-container-1 {
  width: 300px;
  border-radius: 25px;
  padding: 10px;
  width: 600px;
  height: 250px;
}
.index-product-mui-talbe-container {
  border-radius: 15px;
  background: #1976d2;
  padding: 20px;
  width: 250px;
}

.product-table-row {
  color: white;
}
.product-table-cell-list {
  color: white;
  pointer-events: none;
  text-decoration: none;
  text-decoration: none;
}

.product-table-row:hover:hover {
  background-color: rgb(255, 204, 76);
  border-radius: 5px;
}
/* ends table design here*/

/* css for detailed product*/
.css-ag7rrr-MuiTypography-root {
  text-align: center;
}

.product-description-row {
  margin-top: 60px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.product-info h3,
.product-info h2 {
  margin: 0;
  margin-bottom: 16px;
}

.product-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css for detailed product*/

/* Product Buttons Styles */

.product-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
