.camera {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .camera__wrapper {
    position: relative;
    width: 80%;
    max-width: 680px;
    margin: 0 1rem 1rem;
  }
  
  .camera__wrapper video {
    border: 5px solid #1976d2;
    border-radius: 3px;
  }
  
  .camera__button-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .camera__button--snap {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .webcam-overlay {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .webcam-overlay--hidden {
    display: none;
  }
  .home__label{
  
    font-size: 1.4rem;
    font-weight: 600;
   

    text-align: center;
  }
  
  .results__container {
    background-color: #1976d2;
    width: 100%;
    padding-top: 1rem;
    min-height: 150px;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 1.4rem;
    font-weight: 600;
    font-family:bold;
    height: 10px;

  }
  
  .results__wrapper {
    padding: 1rem 0 0 1rem;
  }
  .emphasize_result{
    color:yellow;
    font-family:bold;
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  @media only screen and (min-width: 768px) {
    .camera__wrapper {
      width: 100%;
      margin: 0 1rem 1rem;
    }
  
    .results__wrapper {
      padding: 0;
    }
  }